<!-- https://www.vuemastery.com -->
<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <link href="./assets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" :title="imageTitle">
          <!-- Attribute Shorthands -->
          <!-- :src, :alt, :title, :class, :style, :disabled -->
        </div>

        <div class="product-info">
            <!-- Binding -->
            <h1>{{ product }}</h1>

            
            <!-- Conditionals -->
            <div>
              <!-- Falsey will not include in DOM -->
              <p v-if="inventory > 10">In Stock</p>
              <p v-else-if="inventory">Almost sold out</p>
              <p v-else>Out of Stock</p>

              <!-- Render with display: none -->
              <p v-show="inventory < 0">Wuuk?</p>
            </div>


            <!-- Loops -->
            <div v-for="variant in variants" :key="variant.id">
              <!-- :key => React=key, Angular=trackBy -->
              <p>
                {{ variant.color }}
              </p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>



<script type="text/javascript">
  const app = new Vue({
    el: '#app',
    data: {
      product: 'Socks',
      image: './assets/socks-green.jpg',
      imageTitle: 'Green Socks',
      inventory: 5,
      variants: [
        {id: 1, color: 'green'},
        {id: 2, color: 'blue'}
      ]
    }
  });
</script>
